.navbar {
    border-radius: 0;
    /*box-shadow: -4px 0px 20px 2px black;*/
    border-bottom-style: groove;
    border: 0px;
    min-height: 60px;
}

#mainNavbar {
    list-style-type: none;
    position: relative;
    display: block;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid seagreen;
    zoom: 1;
}

#subHeader {
    width: 100% !important;
    float: unset !important;
}

.navbar-brand {
    color: white !important;
    text-shadow: 2px 2px seagreen;
}

.active-link {
	border-bottom: 2px solid seagreen;
    color : white !important;
}
