.listimg {
	height: 100px;
    transition: all .3s ease-in-out;
	border: groove;
}
.listimg:hover {
    height: 300px;
}

#file_table.dataTable.no-footer {
    border-bottom: 0px solid #111111;
    margin-bottom: 10px;
}

#file_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: separate !important;
    width: 98%;
}

#file_table td, #file_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#file_table tr {
    transition: all .3s ease-in-out;
}

#file_table tr:nth-child(even){background-color: #f2f2f2;}

#file_table tr:hover {background-color: darkseagreen;}

#file_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: seagreen;
    //background-color: #5cb85c;
    //border-color: #4cae4c;
    color: white;
}
